.center {
    height:85vh;
    margin:0 auto;
}

.form {
    width: 50%;
    margin: 0 auto;
    padding-top: 10%;
}

.table {
    width: 100%;
}

.input {
    margin-top: 15px;
    width: 100%;
    padding: 5px;
}

input::placeholder {
    font-family: "OpenSans-LightItalic";
    font-size: 14px;
    color: #000;
}

.input[type=submit] {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    font-family: "OpenSans-Italic";
    font-size: 10px;
    color: #fff;
    background-color: #ED6B86;
    margin: 15px auto;
    margin-left: 25%;
}

.connectLink {
    color: black;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    margin-left: 46%;

}

.connectLink:hover {
    color: #ED6B86;
}

.message {
    text-align: center;
    margin-top: 3em;
    font-family: "OpenSans-Regular";
    font-size: 20px;
    color: #ED6B86;
}